.block{
  display: inline-block;
  border: 2px solid red;
}

.fluid-properties{
  display: none;
}

.vessel-properties{
  display: none;
}

.psv-properties{
  display:none;
}

.output{
  display: none;
}

.canvas-container{
  position:relative;
}
.button-container{
  position:absolute;
  bottom: 10px;
  left: 10px;
}

#calculate-output{
  display: inline-block;
}
#commit-history{
  display: inline-block;
}
