.block{
  display: inline-block;
  border: 2px solid red;
}

.fluid-properties{
  display: none;
}

.vessel-properties{
  display: none;
}

.psv-properties{
  display:none;
}

.canvas-container{
  position:relative;
}
#calculate-output{
  position:absolute;
  bottom: 5px;
  right: 90px;
}
